//main:../style.less

.modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 1rem;
    background-color: rgba(@black, .8);
    overflow: auto;
    
    &.show {
        display: flex;
    }

    @media @tablet {
        z-index: 4;
        // left: 50%;
        // top: 50%;
        // transform: translate(-50%, -40%);
    }
}

.modal__dialog {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background-color: @white;
    position: relative;

    &--sm {
        max-width: 900px;
    }
}


.modal-close {
    width: 34px;
    height: 39px;
    position: absolute;
    top: 1rem;
    right: 1.1rem;
    z-index: 1;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;

    transition: transform .2s linear;

    &:hover {
        transform: translateY(-3px)
    }

    @media @mobile {
        width: 27px;
        height: 27px;
        top: 1rem;
        right: .7rem;
    }

    @media @mobile-sm {
        width: 23px;
        height: 23px;
    }
}

.modal__content {
    padding: 5rem 1rem;

    @media @tablet {
        padding: 3rem 1rem;
    }

    @media @mobile {
        padding: 1.5rem .5rem;
    }
}

.modal__title {
    margin-bottom: 3.6rem;

    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    color: @black;
    
    @media @tablet {
        margin-bottom: 2.6rem;
    }

    @media @tablet-mini {
        font-size: 2rem;
    }

    @media @mobile {
        font-size: 2.3rem;
    }

    @media @mobile-sm {
        font-size: 1.7rem;
        margin-bottom: 2rem;
    }
}

.modal__subtitle {
    text-transform: uppercase;
    font-size: 1.06rem;
    color: @black;
    font-weight: 400;

    @media @mobile-sm {
        font-size: 0.7rem;
        margin-top: .5rem;
    }
}
